
::selection {
    background-color: #fec260;
}

:root{
    --bg-color:#f7ecde;
}

.bag-color{
    background-color:var(--bg-color)
}

h1{
    position: relative;
    font-family: "Pacifico", cursive;
    font-size: 3.125rem;
}

h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 15%;
    left: 0;
    bottom: 1.875rem;
    background-color: #fec260;
    transition: 0.35s;
    z-index: -1;
}

h1:hover:after{
    height: 30%;
}

.bordeer{
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;
}

h2{
    font-family: "Righteous", cursive;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    background-clip: text;
    color: transparent;
}
h2::selection{
    color:#3ca55c;
}

input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #d99c39 !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fec26055;
}
button{
    background-color: #c84b28;
    transition: 0.2s;
}

button:hover{
    background-color: #ac4225;
}

.visit{
    background-color: #92a62d ;
}

.visit:hover{
    background-color: #7c8d26 ;
}

.allert{
    top: 25%;
    left: 12.5%;
    height: 300px;
}
#close{
    cursor: pointer;
}



.log{
    height: 100%;
    bottom: 25%;
}